spring:
  application:
    name: "project-RBPO"
  datasource:
    url: jdbc:postgresql://localhost:5432/online_store
    username: ${PG_USER}
    password: ${PG_PASS}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.format_sql: true
    open-in-view: false
  sql:
    init:
      mode: always

jwt:
  secret-key: ${JWT_SECRET_KEY}

server:
  port: 8443
  ssl:
    enabled: true
    key-store: ${SSL_KEYSTORE_PATH}
    key-store-type: PKCS12
    key-store-password: ${SSL_KEYSTORE_PASSWORD}
    key-alias: valeriServer